---
import SocialTags from "../components/SocialTags.astro";
import Layout from "../layouts/Layout.astro";

const garden = (await Astro.glob("./garden/**/*{.md,mdx}"))
    .filter(({ frontmatter }) => !!frontmatter.pubDate)
    .sort(
        (a, b) =>
            new Date(b.frontmatter.pubDate).valueOf() -
            new Date(a.frontmatter.pubDate).valueOf()
    );
---

<Layout>
    <Fragment slot="head">
        <SocialTags description="" title="Garden | GavDev" image="" />
    </Fragment>
    <ul>
        {
            garden.map((article) => (
                <li>
                    <a href={article.url}>{article.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
