---
import Layout from "../layouts/Layout.astro";

const garden = (await Astro.glob("./garden/**/*{.md,mdx}"))
    .filter(({ frontmatter }) => !!frontmatter.publishDate)
    .sort(
        (a, b) =>
            new Date(b.frontmatter.publishDate).valueOf() -
            new Date(a.frontmatter.publishDate).valueOf()
    );
---

<Layout title="Garden">
    <ul>
        {
            garden.map((article) => (
                <li>
                    <a href={article.url}>{article.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
