---
import SocialTags from "../components/SocialTags.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Fragment slot="head">
		<SocialTags description="" image="" title="GavDev" />
	</Fragment>
	<h1>Welcome to GavDev</h1>
</Layout>
