---
import SocialTags from "../components/SocialTags.astro";
import Layout from "../layouts/Layout.astro";

const projects = (await Astro.glob("./projects/**/*{.md,mdx}"))
    .filter(({ frontmatter }) => !!frontmatter.publishDate)
    .sort(
        (a, b) =>
            new Date(b.frontmatter.publishDate).valueOf() -
            new Date(a.frontmatter.publishDate).valueOf()
    );
---

<Layout>
    <Fragment slot="head">
        <SocialTags title="Projects List | GavDev" description="" image="" />
    </Fragment>
    <h1 class="title">Projects</h1>
    <ul>
        {
            projects.map((project) => (
                <li>
                    <a href={project.url}>{project.frontmatter.title}</a>
                    <span>{project.frontmatter.publishDate}</span>
                </li>
            ))
        }
    </ul>
</Layout>
