---
import NavLink from "./NavLink.astro";
---

<nav>
    <NavLink href="/">home</NavLink>
    <NavLink href="/about">about</NavLink>
    <NavLink href="/projects">projects</NavLink>
    <NavLink href="/garden">garden</NavLink>
    <NavLink href="/contact">contact</NavLink>
</nav>
