---
let { href, rel } = Astro.props;
let path = new URL(Astro.url).pathname;

let current = path === href ? "true" : "false";
---

<a class="text-l" href={href} data-current={current} rel={rel}>
    <slot />
</a>

<style scoped>
    a:any-link {
    }
    [data-current="true"] {
        text-decoration: underline;
        text-decoration-color: yellowgreen;
        text-decoration-thickness: 2px;
    }
</style>
