---
let { href } = Astro.props;
let path = new URL(Astro.url).pathname;

let current = path === href ? "true" : "false";
---

<a href={href} data-current={current}>
    <slot />
</a>

<style scoped>
    a:any-link {
        text-decoration: none;
    }
    [data-current="true"] {
        border-bottom: 2px solid yellowgreen;
    }
</style>
