---
import NavLink from "../components/NavLink.astro";

interface Props {
    title: string;
    description?: string;
}

let { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles/global.css" />
        <meta name="generator" content={Astro.generator} />
        {description && <meta name="description" content={description} />}
        <slot name="head" />
        <title>{title}</title>
    </head>
    <body>
        <header id="header">
            <a href="/">
                <img id="logo" src="/favicon.svg" alt="Logo" />
                <h1 class="visually-hidden">GavDev</h1>
            </a>
        </header>
        <nav role="navigation" id="navigation">
            <NavLink href="/about">about</NavLink>
            <NavLink href="/projects">projects</NavLink>
            <NavLink href="/garden">garden</NavLink>
        </nav>
        <div id="content">
            <slot />
        </div>
        <footer id="footer">
            <nav>
                <NavLink href="/contact">contact</NavLink>
            </nav>
            <aside class="social-links"></aside>
        </footer>
        <style>
            body {
                display: grid;
                grid-template-areas:
                    "header nav"
                    "content content"
                    "footer footer";
            }
            #logo {
                width: 80px;
            }
            #header {
                grid-area: header;
            }
            #navigation {
                grid-area: nav;
            }
            #content {
                grid-area: content;
            }
            #footer {
                grid-area: footer;
                background: var(--color-footer-background);
            }
        </style>
    </body>
</html>
