---
import NavLink from "../components/NavLink.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/styles/global.css" />
		<meta name="generator" content={Astro.generator} />
		<slot name="head" />
	</head>
	<body>
		<header id="header">
			<a href="/" rel="prefetch">
				<img id="logo" src="/favicon.svg" alt="Logo" />
				<h1 class="visually-hidden">GavDev</h1>
			</a>
		</header>
		<nav role="navigation" id="navigation">
			<NavLink href="/about" rel="prefetch">about</NavLink>
			<NavLink href="/projects" rel="prefetch">projects</NavLink>
			<NavLink href="/garden" rel="prefetch">garden</NavLink>
		</nav>
		<div id="content">
			<slot />
		</div>
		<footer class="flex justify-between" id="footer">
			<nav class="flex flex-col">
				<NavLink href="/contact">contact</NavLink>
				<NavLink href="/search">search</NavLink>
			</nav>
		</footer>
		<style>
			body {
				display: grid;
				grid-template-areas:
					"header nav"
					"content content"
					"footer footer";
			}
			#logo {
				width: 80px;
			}
			#header {
				grid-area: header;
			}
			#navigation {
				grid-area: nav;
			}
			#content {
				grid-area: content;
			}
			#footer {
				grid-area: footer;
				background: var(--color-footer-background);
			}
		</style>
	</body>
</html>
